/* font-family: "ProximaNovaT-Thin"; */
@font-face {
	font-family: "GothaPro";
	src: url("../fonts/Gotham/GothaProReg/GothamPro.eot");
	src: url("../fonts/Gotham/GothaProReg/GothamPro.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Gotham/GothaProReg/GothamPro.woff") format("woff"),
	url('../fonts/Gotham/GothaProReg/GothamPro.woff2') format('woff2'), 
	url("../fonts/Gotham/GothaProReg/GothamPro.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "GothaPro";
	src: url("../fonts/Gotham/GothaProMed/GothamPro-Medium.eot");
	src: url("../fonts/Gotham/GothaProMed/GothamPro-Medium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Gotham/GothaProMed/GothamPro-Medium.woff") format("woff"),
	url('../fonts/Gotham/GothaProMed/GothamPro-Medium.woff2') format('woff2'), 
	url("../fonts/Gotham/GothaProMed/GothamPro-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: 600;
}

@mixin GothaPro {
	font-family: 'GothaPro', GothaPro, sans-serif;
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

p {
  @include font-size(14px);
}